@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;1,300&display=swap");
@import "./abstracts/variables";
h1 {
  font-family: "Montserrat";
  text-align: center;
}

h1 {
  color: $white_color;
}

.s1 {
  background: url("../images/img5.jpg");
  background-size: cover;

  h1 {
    text-align: center;
    font-size: clamp(3.125rem, 6vw, 5.2rem);
  }
}

.s2 {
  background: url("../images/img13.jpg");
  background-size: cover;
  h1 {
    text-align: right;
    margin-right: 2em;
    font-size: clamp(3.125rem, 6vw, 5.2rem);
  }
}

.s3 {
  background: url("../images/imgg.jpg");
  background-size: cover;

  h1 {
    text-align: left;
    margin-left: 2em;
    font-size: clamp(3rem, 6vw, 5.2rem);
  }
}

span {
  background: $white_color !important;
}
